# 데이터 입력, 연산, 출력
- 숫자 1과 2를 더한다

In [1]:
a = 1+2

In [2]:
print(a)

3

In [3]:
a == 1+2

True

In [4]:
b = (a==1+2)

In [5]:
print(b)

True

- 숫자 5를 변수 var1에 할당(저장)한다

In [6]:
var1 = 5

- var1 변수이름을 입력하고 실행한다.

In [7]:
lst = [1, 2, 4, 8]
len(lst)

4

In [8]:
import numpy as np

np.array(lst).reshape(2, 2)

array([[1, 2],
       [4, 8]])

In [9]:
arr = np.array([1, 2, 3, 4])
arr = arr.reshape(2, 2)
arr

array([[1, 2],
       [3, 4]])

- var1 변수에 새로운 값(숫자 10)을 입력한다.

In [10]:
var1 = 5
var1 = 20
print(var1)

20

- 숫자 20을 var2 변수에 저장한다. 
- var2 변수이름을 입력하고 실행한다.

In [11]:
var1 = 150
var2 = 140
var3 = var1 + var2
print(var1+var2)

290

In [14]:
name = '최동우'
wage = '5000.218'

print(f'{name}의 연봉은 {wage}만원 입니다.')

최동우의 연봉은 5000.218만원 입니다.

In [15]:
print(name, "의 연봉은", wage, "만원 입니다.")

최동우 의 연봉은 5000.218 만원 입니다.

In [16]:
print(f'{name}의 연봉은 {wage}만원 입니다.')

최동우의 연봉은 5000.218만원 입니다.

- var1 변수와 var2 변수를 더하고, 그 결과를 var3 변수에 할당한다. 
- var3 변수이름을 입력하고 실행한다.

In [17]:
var1, var2

(150, 140)

- var1 변수를 print 함수로 출력한다.

- var1 변수와 var2 변수를 더하는 식을 print 함수에 입력하여 덧셈의 결과를 화면에 출력한다.

- var1 변수와 var2 변수를 쉼표(,)로 구분하여 print 함수에 입력한다.

- "덧셈: " 문자열 다음에 연산식(var1 + var2)의 결과값이 출력되도록 쉼표(,)로 구분하여 print 함수에 입력한다.

- 정수 10을 var1 변수에 입력한다. 
- var1 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

In [18]:
p = 3.14
print(type(p))
p2 = 3
print(type(p2))
p3 = 3.
print(type(p3))

<class 'float'>
<class 'int'>
<class 'float'>

- 실수 3.14를 var2 변수에 입력한다. 
- var2 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

In [19]:
p3 = p + p2

- 정수 1과 2를 더하고, 그 값을 var3 변수에 입력한다.
- 정수 3과 실수 0.14를 더하고, 그 값을 var4 변수에 입력한다. 
- var3 변수의 데이터 타입(자료형)을 type 함수로 확인한다.
- var4 변수의 데이터 타입(자료형)을 type 함수로 확인한다.

# 문자열 다루기

- "Easy" 문자열을 str1 변수에 입력한다.
- str1 변수이름을 입력한다.

In [20]:
str1 = 'Easy'
str1

'Easy'

In [21]:
str1[0:2]

'Ea'

- str1 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

In [22]:
print(type(str1))

<class 'str'>

- "파이썬 딥러닝" 문자열을 str2 변수에 입력한다.
- str2 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

- "ver1.0" 문자열을 str3 변수에 입력한다.
- str3 변수의 자료형을 확인한다. type 함수의 리턴값을 print 함수로 출력한다.

- str1 변수가 저장하고 있는 데이터의 크기(길이)를 len 함수로 확인한다.

In [23]:
len(str1)

4

- str1 변수의 값인 "Easy" 문자열의 첫번째 문자를 인덱싱 추출한다.

In [24]:
str1[0]

'E'

- str1 변수의 값인 "Easy" 문자열의 4번째 문자를 인덱싱 추출한다.

In [25]:
str1[-1]

'y'

- str1 변수의 값인 "Easy" 문자열의 마지막 문자를 인덱싱 추출한다.

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 문자를 인덱싱 추출한다.

- str1 변수의 값인 "Easy" 문자열의 1번째 부터 3번째 문자까지 슬라이싱 방법으로 추출한다.

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 부터 1번째 문자까지 슬라이싱 방법으로 추출한다.

In [26]:
str1[0:], str1[:]

('Easy', 'Easy')

- str1 변수의 값인 "Easy" 문자열의 뒤에서 3번째 문자부터 끝까지 슬라이싱 방법으로 추출한다.

- %s 문자열 형식(formatting)을 이용하여 "파이썬 딥러닝" 문자열 앞에 "Easy" 문자열(str1 변수의 데이터)을 삽입한다. str4 변수에 저장한다. 
- str4 변수 이름을 입력하고 실행한다.

In [27]:
a = 3.4111488181

print('%d' % a)

3

\' : 따옴표 문자<br>
\" : 쌍따옴표 문자<br>
\ : backslash 문자<br>
\a : bell 문자<br>
\b : backslash 문자<br>
\f : Formfeed 문자<br>
\n : newline 문 \r : carriage return 문자(\n와 동일하지 않다.)<br>
\t : tab 문자<br>
\v : vertical tab 문자<br>

<b>print</b> 함수를 이용한 출력의 방법<br>
<b>1) "%~" 이용하기<br></b>
"%s ..." % var: 문자열 출력하기<br>
"%d ..." % var: 정수 출력하기<br>
"%f ..." % var: 실수 출력하기<br>
ex) %03d: 정수를 3칸에 맞추어 출력하는데 앞의 빈칸은 0으로 채움<br>
ex) %6.2f: 실수를 전체 6칸 소수이하 2칸에 맞추어 출력<p>
<b>2) "{}" 형식 이용하기<br></b>
"{n}"안에 숫자를 지정하여 출력 대상의 위치를 지정할 수 있다. {0}, {1}, {2}, ...<br>
함수의 인자처럼 키워드를 사용해서 나타낼 수 있고, 동일한 데이터를 여러번 출력할 수 있다.

In [28]:
import math
math.pi

3.141592653589793

In [29]:
print('원주율은\n%03d입니다.' % math.pi)

원주율은
003입니다.

In [30]:
print('원주율은 %.2f, 내 키는 %d입니다' % (math.pi, 180))

원주율은 3.14, 내 키는 180입니다

In [31]:
print('원주율은 {0}, {1}, {2}, {3}입니다.'.format(math.pi, 180, 58.3, 55))

원주율은 3.141592653589793, 180, 58.3, 55입니다.

In [32]:
# 반올림하기
print(round(math.pi, 4))

3.1416

In [33]:
str1 = 'LeBron James'
str1.find('Hames')

-1

In [34]:
dict1 = {'name':'111', 'height':180}
dict1['name']

'111'

In [35]:
list1 = ['Jay', 'Kay', 'Lay', 'May']

b = False
for item in list1:
    if (item == 'Qay'):
        b = True
        print(b)
        break

if (b == False):
    print(b)

False

In [36]:
'Qay' in list1

False

In [37]:
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 "%s"입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 "%s"입니다. '%(33,56.789,'한사람'))
print('-' * 40)

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 "한사람"입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 "한사람"입니다.
----------------------------------------

In [38]:
# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 "{0}"입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 "{0}"입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 "{name}"입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 "한사람"입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 "한사람"입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------

# 리스트 다루기

- 숫자 1, 2, 3, 4, 5를 원소로 갖는 리스트를 만들고, list1 변수에 저장한다. 
- list1 변수의 데이터를 확인한다. (변수이름을 입력하고 실행한다)

In [39]:
list1 = [1, 2, 3, 4, 5]
type(list1)

list

In [40]:
list1[2:-2]

[3]

- list1 변수의 데이터가 갖는 자료형을 type 함수로 확인한다.

In [41]:
list2 = [10]
var2 = 10
list2[0] == var2

True

- 숫자 10을 원소로 갖는 리스트를 만들고, list2 변수에 저장한다. 
- list2 변수의 값을 print 함수로 출력한다. 
- list2 변수의 자료형을 type 함수로 확인하고, print 함수로 출력한다.

In [42]:
list2 = []
print(list2)

[]

- 원소가 0개인 빈 리스트를 만들고, list3 변수에 저장한다. (list 함수 활용)
- list3 변수의 값을 print 함수로 출력한다.

- 원소가 0개인 빈 리스트를 만들고, list4 변수에 저장한다. (빈 대괄호 활용)
- list4 변수의 값을 확인한다.

- 리스트 3개(list1, list2, list3)를 원소로 갖는 리스트를 생성하고 list_of_list라는 변수에 저장한다. 
- list_of_list 변수이름을 입력하여 데이터를 확인한다.

- list_of_list 변수의 자료형을 확인한다. (type 함수)

- list_of_list 변수의 1번째 원소를 인덱싱 추출한다.

- list_of_list 변수의 1번째 원소를 추출하고, 추출된 원소(list1)의 2번째 원소를 인덱싱 추출한다.

- list_of_list 변수의 마지막 원소를 인덱싱 추출한다.

- list_of_list 변수의 뒤에서 3번째 원소를 인덱싱 추출한다.

list_of_list 변수의 0번째부터 1번째 원소를 범위를 지정하여 슬라이싱 추출한다.

- list1 변수는 리스트를 원소로 갖는다. 숫자 100을 새로운 원소로 추가한다. (append 활용)
- list1 변수를 출력한다.

In [43]:
list1 = ['James', 'Chloe', 'Hart']
str1 = ''

for item in list1:
    #print(item)
    str1 = str1 + ' ' + item
    str1 = str1.strip()
    #print(str1)

In [44]:
print(list1)

['James', 'Chloe', 'Hart']

In [45]:
print(list1[::-1])

['Hart', 'Chloe', 'James']

In [46]:
list1

['James', 'Chloe', 'Hart']

- list3 변수는 리스트를 원소로 갖는다. 리스트에 숫자 7, 8, 9를 순서대로 새로운 원소로 추가한다. (append 활용)
- list3 변수를 출력한다.

In [47]:
" ".join(list1)

'James Chloe Hart'

# 튜플

- 숫자 1과 2를 원소로 갖는 투플(tuple)을 만들고, tuple1 이라는 변수에 저장한다.
- tuple1 변수를 출력한다.

In [48]:
(1, 2)

(1, 2)

- tuple1 변수의 자료형을 확인한다. (type 활용)

In [49]:
('a', 22, [1, 2])

('a', 22, [1, 2])

- 문자열 "a", "b", 숫자 100을 원소로 갖는 투플(tuple)을 만들고, tuple2 이라는 변수에 저장한다.
- tuple2 변수를 출력한다.

- 원소가 0개인 빈 투플을 만들고, tuple3 변수에 저장한다.(tuple 함수)
- 원소가 0개인 빈 투플을 만들고, tuple4 변수에 저장한다. (빈 괄호 사용)
- tuple3 변수의 값을 출력한다. (print 함수)
- tuple4 변수의 값을 출력한다. (print 함수)

- tuple2 변수에 저장된 투플의 1번째 원소를 인덱싱 추출한다.

- tuple2 변수에 저장된 투플의 2번째 원소부터 마지막 원소까지 범위를 지정하여 슬라이싱 추출한다.

# 딕셔너리

- 딕셔너리를 만들고 dict1 이라는 변수에 저장한다. 'name' 키는 'Jay' 값을 갖고, 'age' 키는 20을 값으로 갖는다. 
- dict1 변수를 출력한다.

In [38]:
dict1 = {'age':20, 'name':'Jay'}
print(dict1)

{'age': 20, 'name': 'Jay'}

- dict1 변수의 자료형을 확인한다.

In [ ]:
type(dict1)

- dict1 딕셔서리의 'name' 키와 매칭되는 값을 추출한다.

In [39]:
dict1['age']

20

- dict1 딕셔서리의 'age' 키와 매칭되는 값을 추출한다.

In [ ]:
dict1 = {'grade':[3.0, 4.0, 3.5, 4.2]}
dict1['grade']

In [ ]:
dict1

- dict1 딕셔서리에 새로운 원소를 추가한다. 'grade' 키에 매칭되는 값으로 리스트([3.0, 4.0, 3.5, 4.2])를 추가한다.  
- dict1 변수를 출력한다.

In [ ]:
dict1.keys()

- dict1 변수에 저장된 딕셔너리의 키(key)를 모두 추출한다. (keys 메소드 활용)

In [ ]:
dict1.values()

- dict1 변수에 저장된 딕셔너리의 값(value)을 모두 추출한다. (values 메소드 활용)

- dict1 변수에 저장된 딕셔너리의 키(key)와 값(value) 쌍을 모두 추출한다. (items 메소드 활용)

In [ ]:
for item in dict1.items():
    print(item)

- 딕셔너리로 이런 것들도 가능합니다.

In [ ]:
k = [1, 2, 3, 4, 5]
v = ['a', 'b', 'c', 'd', 'e']
u = dict(zip(k, v))
print(u)

In [ ]:
u[6] = 'f'

In [ ]:
u

In [ ]:
# 키와 밸류를 뒤집기
u_rev = {i1:i2 for i2, i1 in u.items()}
print(u_rev)

In [ ]:
# 지우고 싶다면 del을 활용한다.
del u[5]
print(u)

## 리스트, 튜플, 딕셔너리, 배열... 서로 어떤 차이점이 있을까?

<b>리스트</b>: 길이나 크기가 정해져 있지 않고, 각 변수를 자유롭게 바꿀 수 있다.<br>
<b>튜플</b>: 짝을 이루고 있는 타입이지만 다만 변경이 불가능하다.<br>
<b>딕셔너리</b>: 튜플과 비슷하지만 변수를 다양하게 추가하거나 변경할 수 있고 검색이 쉽다.<br>
<b>배열</b>: 정해진 크기를 갖고 있으며 행렬 연산이 가능하다.<br>

# 숫자 연산 다루기

- 숫자 1과 2를 더한다.

- 문자열 "Good"과 한칸 공백(" ")과 문자열 "Morning"을 이어 붙인다. new_str 변수에 저장한다. ( + 연산자 활용)
- new_str 변수를 출련한다.

- 숫자 2에서 3을 뺀다.

- 숫자 3과 4를 곱한다.

- 문자열 "a"에 3을 곱한다.

- 숫자 5를 3으로 나눈다.

- 숫자 5를 3으로 나눈 몫을 구한다.

- 숫자 5를 3으로 나눈 나머지를 구한다.

In [ ]:
3**5 # a**b : a의 b제곱

- 숫자 3의 거듭제곱을 구한다.

## T/F 타입

- 참을 나타내는 True를 입력한다.

- 참을 나타내는 True를 부정한다. (not 명령)

- 거짓을 나타내는 False의 자료형을 확인한다. (type 함수)

In [ ]:
a = 5
b = 4

not a < b

- AND 연산(참, 참)의 결과를 print 함수로 출력한다. 
- AND 연산(참, 거짓)의 결과를 print 함수로 출력한다. 
- AND 연산(거짓, 거짓)의 결과를 print 함수로 출력한다.

In [ ]:
if (a == b):
    print('ok')
else:
    print('no')

- OR 연산(참, 참)의 결과를 print 함수로 출력한다. 
- OR 연산(참, 거짓)의 결과를 print 함수로 출력한다. 
- OR 연산(거짓, 거짓)의 결과를 print 함수로 출력한다.

- "3과 3이 같다" 는 명제를 입력한다.

- "3이 3과 다르다" 는 명제를 입력한다.

- "문자열 'a'와 'a'가 같다" 는 명제를 입력한다.

- "문자열 'a'와 'a'가 다르다" 는 명제를 입력한다.

- 문자열 'a'를 var1 변수에 저장한다. 
- 문자열 'a'를 var1 변수에 저장한다.
- "var1 변수와 var2 변수가 같다" 는 명제를 입력한다.

- "4가 5보다 작다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 작거나 같다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 크거나 같다" 라는 명제를 print 함수로 출력한다. 
- "4가 5보다 크다" 라는 명제를 print 함수로 출력한다.

- "4가 5보다 작다" 와 "4가 5보다 작거나 같다"를 AND 연산 처리한다.

- "4가 5보다 작다" 와 "4가 5보다 크다"를 OR 연산 처리한다.

- "문자열 'a'가 'a'와 다르다" 라는 명제를 부정한다. (not 명령)

In [40]:
a = 5
b = 3

In [42]:
a == b

False