# 다양한 조건문 활용하기

- if 조건문 (조건식: a 변수의 값을 2로 나눈 나머지가 0과 같다)

In [4]:
a = 3

if a % 2 == 0:
    print("a는 짝수")
else:
    print("a는 홀수")

a는 홀수

In [21]:
a = int(input("숫자를 입력하세요."))

숫자를 입력하세요.15
좋습니다.

In [22]:
if a < 10:
    print("춥습니다.")
else:
    if a <= 30:
        print("좋습니다.")
    else:
        print("덥습니다.")

좋습니다.

0~9 사이 수
10~19 사이 수
20~29 사이 수
30~39 사이 수

In [25]:
a = int(input("숫자를 입력하세요."))

if a >= 0 and a < 10:
    print ('between 0 and 9')
elif a >= 10 and a < 20:
    print ('between 10 and 19')
elif a >= 20 and a < 30:
    print ('between 20 and 29')
elif a >= 30 and a < 40:
    print ('between 30 and 39')
else:
    print ('rest of them!')

숫자를 입력하세요.-3
rest of them!

- if 조건문 (조건식: a 변수의 값을 2로 나눈 나머지가 0이 아니다)

In [14]:
if True:
    print("a는 홀수")
    print("a는 2로 나누어지지 않아.")
    print("그만해.")

a는 홀수
a는 2로 나누어지지 않아.
그만해.

- if ~ else 조건문 (조건식: b 변수의 값을 2로 나눈 나머지가 0과 같다)

In [1]:
b = 7
if b % 2 == 0:
    print("b는 짝수")
else:
    print("b는 홀수")

b는 홀수

- if 조건식: c 변수의 값이 0보다 크다.
- elif 조건식: c 변수의 값이 0보다 작다.
- else 조건식: 없음 (c 변수의 값이 0이다)

In [26]:
c = 0

if c > 0:
    print("c는 양수")
elif c < 0:
    print("c는 음수")  
else:
    print("c는 0")

c는 0

- for 반복문: num_list의 원소를 반복해서 출력한다

1부터 10까지의 숫자 중에서 짝수를 모두 더하면 얼마일까요?

In [41]:
tot = 0

for i in range(1, 11):
    if i % 2 == 0:
        tot = tot + i
        print(i, ":", tot)

print(tot)

2 : 2
4 : 6
6 : 12
8 : 20
10 : 30
30

In [42]:
tot = 0

for i in range(2, 11, 2):
    tot = tot + i
    print(i, ":", tot)

print(tot)

2 : 2
4 : 6
6 : 12
8 : 20
10 : 30
30

In [47]:
names = ['태희', '성범', '규민', '태린', '준현']

for name in names[::-1]:
    print(f"내 친구의 이름은 {name}입니다.")

내 친구의 이름은 준현입니다.
내 친구의 이름은 태린입니다.
내 친구의 이름은 규민입니다.
내 친구의 이름은 성범입니다.
내 친구의 이름은 태희입니다.

In [48]:
num_list = [1, 4, 8, 16, 32]
for num in num_list:
    print(num)

1
4
8
16
32

In [49]:
range(3) == range(0, 3, 1)

True

In [4]:
range(len(num_list))

range(0, 5)

In [6]:
num_name = ['Bron', 'Cron', 'Dron']

for i in range(len(num_list)):
    print(num_list[i], num_name[i])

1 Bron
2 Cron
3 Dron

- for 반복문: 리스트의 원소를 반복해서 2의 배수와 함께 출력한다.

In [ ]:
for num in [1, 2, 3]:
    print("기존: ", num)
    print("2배: ", num * 2)
    print("\n")

- for 반복문: 리스트의 원소를 반복해서 2의 배수를 계산하고, 빈 리스트(double)에 2의 배수를 원소로 추가한다

In [ ]:
double = []
for num in [1, 2, 3]:
    double.append(num * 2)

print(double)

- while 반복문: 조건식(num 변수의 값이 4보다 작다)을 만족하는 경우, 반복해서 num을 출력하고 num에 1을 더한다.

In [50]:
num = 1

while num < 4:
    print(num)
    num = num + 1

1
2
3

In [51]:
for num in range(1, 4):
    print(num)

1
2
3

- while 반복문: 조건식(num 변수의 값이 4보다 작다)을 만족하는 경우, 반복해서 num과 2의 배수를 출력하고 num에 1을 더한다.

In [ ]:
num = 1
while num < 4:
    print("기존: ", num)
    print("2배: ", num * 2)
    print("\n")    
    num += 1

- while True 반복문: 조건식(True)을 항상 만족하기 때문에 계속 반복 실행한다. 
- num의 2의 배수를 빈 리스트(double)에 추가한다. 
- break 명령: double의 원소 개수가 3개가 되면 while 반복문을 종료한다. 
- num에 1을 더한다.

In [ ]:
num = 1
double = []

while True:
    double.append(num * 2)    
    if len(double) == 3:
        break
    num += 1

print(double)

## 로또 번호 만들기

- range 함수로 1 ~ 45까지 정수를 원소로 갖는 배열을 만든다. 
- list 함수로 배열을 리스트로 변환한다.
- 변환된 리스트를 출력한다.

In [55]:
num_list = list(range(1, 46))
print(num_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

- 리스트 안에 들어 있는 45개 숫자의 순서를 임의로 섞는다. (random 모듈의 shuffle 함수 사용)
- 순서가 바뀐 리스트 객체를 출력한다.

In [59]:
import random as rd

rd.shuffle(num_list)
print(num_list)
print(num_list[:6])

[17, 18, 44, 33, 30, 29, 40, 9, 16, 34, 21, 20, 14, 26, 43, 42, 1, 36, 22, 24, 25, 8, 7, 19, 10, 31, 5, 15, 23, 32, 35, 45, 37, 38, 2, 3, 13, 11, 39, 6, 4, 12, 28, 27, 41]
[17, 18, 44, 33, 30, 29]

- 6개 번호를 담을 빈 리스트(lotto)를 만든다. 
- lotto 리스트의 원소 개수가 6개 미만일 때 while 반복문을 실행한다. 
- 45개 숫자 리스트의 순서를 shuffle 함수로 섞어 준다. 가장 앞에 위치한 원소를 추출하고 num_selected 변수에 저장한다.
- if 조건문으로 추출한 숫자(num_selected)가 lotto 리스트에 들어 있는지 체크한다. 이미 추출한 숫자라면, 나머지 명령을 실행하지 않고 while 반복문의 처음으로 돌아가서 실행한다. 
- if 조건문을 충족하지 않는 경우, 즉 기존에 추출된 숫자가 아니라면 lotto 리스트의 원소로 추가한다. (append 활용)
- 새로 추출한 숫자를 출력한다. (print 함수)
- while 반복문이 종료되면 lotto 리스트를 출력한다. (6개 숫자 확인)

In [14]:
lotto = []

while len(lotto) < 100:
    rd.shuffle(num_list)
    num_selected = num_list[0]
    
#    if num_selected in lotto:
#        print('already have!')
#        continue
        
    lotto.append(num_selected)  
    print(num_selected)

print(lotto)

3
1
1
5
2
4
2
4
4
6
6
6
2
4
5
5
3
6
3
5
5
2
6
2
6
4
3
6
4
6
6
3
1
3
6
5
3
2
1
3
6
3
6
4
1
2
1
1
3
4
2
4
1
1
1
1
1
1
4
1
5
6
5
5
6
4
4
1
5
5
5
1
3
3
1
3
4
1
6
1
1
1
3
2
3
6
5
4
2
5
5
5
2
3
1
3
2
4
6
6
[3, 1, 1, 5, 2, 4, 2, 4, 4, 6, 6, 6, 2, 4, 5, 5, 3, 6, 3, 5, 5, 2, 6, 2, 6, 4, 3, 6, 4, 6, 6, 3, 1, 3, 6, 5, 3, 2, 1, 3, 6, 3, 6, 4, 1, 2, 1, 1, 3, 4, 2, 4, 1, 1, 1, 1, 1, 1, 4, 1, 5, 6, 5, 5, 6, 4, 4, 1, 5, 5, 5, 1, 3, 3, 1, 3, 4, 1, 6, 1, 1, 1, 3, 2, 3, 6, 5, 4, 2, 5, 5, 5, 2, 3, 1, 3, 2, 4, 6, 6]

In [16]:
import pandas as pd

pd.Series(lotto).value_counts()

1    22
6    18
3    17
5    16
4    15
2    12
dtype: int64

In [10]:
lotto.sort()
lotto

[4, 6, 20, 24, 41, 43]

- 딕셔너리 만들기

In [17]:
data = {'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}
data

{'name': 'Jay', 'age': 20, 'grade': [3.0, 4.0, 3.5, 4.2]}

In [18]:
data.keys()

dict_keys(['name', 'age', 'grade'])

- 'address'키에 매칭되는 값을 선택한다. (오류 메시지 발생)

In [19]:
data['address']

KeyError: 'address'

- try: 'address' 키와 매칭되는 값을 추출해서, "주소: " 문자열과 함께 출력한다.
- except: try 구문에 오류가 발생되면 이 부분의 코드가 실행된다.(예외처리)

In [20]:
try:
    print("주소:", data['address'])
except:
    print("주소 정보가 없습니다")

주소 정보가 없습니다

- try: 'name' 키와 매칭되는 값을 추출해서, "이름: " 문자열과 함께 출력한다.
- except: try 구문에 오류가 발생되면 이 부분의 코드가 실행된다.(예외처리)
- finally: 이 부분의 코드는 무조건 실행된다.

In [21]:
try:
    print("이름:", data['name'])
except:
    print("이름 정보가 없습니다")
finally:
    print("모든 작업이 완료되었습니다")

이름: Jay
모든 작업이 완료되었습니다

# 함수 다루기

- cal_modulo라는 함수를 정의한다. (숫자 a, b를 입력 받고 a를 b로 나눈 나머지를 출력 값으로 내보낸다.)

In [60]:
10 % 3

1

In [65]:
def cal_modulo(a, b):
    if a >= b:
        temp = a % b
    else:
        temp = b % a

    return temp

In [72]:
def cal_minus(a, b):
    if a >= b:
        return a - b
    else:
        return b - a

In [73]:
cal_minus(15, 20)

5

a부터 b까지 사이에 있는 모든 수를 더한 합을 반환하는 함수 (a, b 포함)

In [74]:
def all_sum(a, b):
    tot_sum = 0
    
    for i in range(a, b+1):
        tot_sum = tot_sum + i
    
    return tot_sum

In [77]:
print(all_sum(1, 300))

45150

- cal_modulo 함수를 이용하여, 숫자 5를 3으로 나눈 나머지를 계산한다.

In [68]:
c = cal_modulo(3, 10)

In [69]:
print(c)

1

- cal_modulo 함수를 이용하여, 숫자 10을 3으로 나눈 나머지를 구한다. 
- 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 출력한다.

In [35]:
modulo = cal_modulo(10, 3)
print(modulo)

1

- 3개의 숫자 쌍을 원소로 갖는 리스트(num_pairs)를 정의한다.
- cal_modulo 함수를 이용하여, 리스트 원소인 숫자 쌍의 값들에 대한 나머지를 구한다.  
- for 반복문으로 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 반복해서 출력한다.

In [36]:
num_pairs = [(5, 3), (2, 2), (10, 3)]
for a, b in num_pairs: # (a, b)
    modulo = cal_modulo(a, b)
    print(modulo)

2
0
1

- 숫자 쌍을 원소로 갖는 리스트(num_pair_list)를 입력 받아서, 나머지 연산을 해서 함께 출력하는 cal_paris_modulo 함수를 정의한다.

    1) 숫자 쌍의 값들에 대한 나머지를 구해서, result 딕셔너리의 원소로 추가한다. 이때, 숫자 쌍(투플)이 키가 된다.
    
    2)for 반복문으로 함수가 반환하는 나머지를 modulo 변수에 저장하고, 화면에 반복해서 출력한다.

-  num_paris 리스트를 cal_paris_modulo 함수에 입력한다. 함수가 반환하는 값을 mod_pairs 변수에 저장하고 출력한다.

In [ ]:
def cal_pairs_modulo(num_pair_list):
    result = {}
    for a, b in num_pair_list:
        modulo = cal_modulo(a, b)
        result[(a,b)] = modulo
    return result

mod_pairs = cal_pairs_modulo(num_pairs)
mod_pairs

-  num_paris 리스트를 cal_paris_modulo 함수에 입력하고, 함수가 반환하는 값을 화면에 출력하는 함수를 정의한다. 그리고 함수를 실행한다.

In [ ]:
def print_mod_pairs():
    print(cal_pairs_modulo(num_pairs))

print_mod_pairs()

- cal_pairs_modulo 함수를 정의할 때 사용한 지역변수 result 값을 출력해 본다.

In [ ]:
result

- add_one 함수 정의 (숫자를 입력받아서 1을 더한 값을 반환)

In [ ]:
def add_one(num):
    return num + 1

answer = add_one(1)
print(answer)

- 숫자 리스트의 원소에 각각 1을 더하기 (add_one 함수 사용)

In [ ]:
add_one_list = []
for x in [1, 2, 3]:
    y = add_one(x)
    add_one_list.append(y)

print(add_one_list)

- 숫자 리스트의 원소에 각각 1을 더하기 (lambda 함수 사용)

In [78]:
add_one_lambda = []

def add_func2(x):
    add_one_lambda.append(x+1)

add_func = lambda x: add_one_lambda.append(x+1)

for x in [1, 2, 3]:
    add_func2(x)

print(add_one_lambda)

[2, 3, 4]

- 두 숫자를 더하는 lambda 함수 만들기

In [39]:
new_add_func = lambda x, y: x+y
answer = new_add_func(2, 3)
print(answer)

5

- 숫자 1~10을 원소로 갖는 리스트를 만들고, 원소의 합을 구한다. (sum 함수)

In [40]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum(numbers)

55

In [42]:
val = 0

for i in numbers:
    if (i % 2 == 0):
        val = val + i

print(val)

30

In [45]:
max(200, 300)

300

In [48]:
# sum_even(시작하는 숫자, 끝나는 숫자) : 짝수의 합을 출력하는 함수
def sum_even(start, end):

    i1 = min(start, end)
    i2 = max(start, end)
    
    val = 0
    
    for i in range(i1, i2+1):
        if (i % 2 == 0):
            val = val + i
            
    return val

sum_even(230, 200)

시작하는 숫자가 끝나는 숫자보다 큽니다. 다시 입력해 주세요.

-1

- 최대값 (max)

In [ ]:
max(numbers)

- 최소값(min)

In [ ]:
min(numbers)

- 원소의 개수 또는 길이 (len)

In [ ]:
len(numbers)

- enumerate 함수: 어떤 리스트나 변수들 속에서 아이템을 꺼내는 인덱스를 함께 부여할 때 필요한 함수이다.

In [49]:
for i, num in enumerate(numbers):
    print(i, num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

- range 함수: 어떤 연속된 값을 얻을 때 쓰는 함수이다.

In [ ]:
range(10)

- list 함수: 어떤 변수를 리스트로 선언하고 싶을 때 사용하는 함수이다.

In [ ]:
range(1, 10)
list(range(1, 10))

- print 함수

In [ ]:
print(list(range(10)))

- eval 함수: 문자열을 입력받아서 실행시키는 함수이다.

In [52]:
print(numbers)
eval('print(numbers)')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- map 함수: 어떤 함수나 적용 내용을 요소들에 모두 적용시킬 때 쓰는 함수이다.

In [ ]:
for i, item in enumerate(numbers):
    item = add_one(item)
    numbers[i] = item

In [53]:
add_one = lambda x: x+1
results = map(add_one, numbers)

print(list(results))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

- filter 함수: map과 비슷하지만 이것은 주어진 값을 추출할 때 쓰는 함수이다.

In [54]:
even_num = lambda x: x%2==0
results = filter(even_num, numbers)

print(list(results))

[2, 4, 6, 8, 10]

- int 함수: 주어진 변수를 정수형 변수로 변경한다.

In [ ]:
int(3.14)

- str 함수: 주어진 값을 문자열로 반환한다.

In [ ]:
str(3.14)

- round 함수: 반올림하는 함수

In [ ]:
round(3.14)

In [ ]:
round(3.14, 1)

- reversed 함수

In [ ]:
numbers_reversed = reversed(numbers)
print(list(numbers_reversed))

- sorted 함수: 정렬된 값을 새로운 리스트로 반환함. 이 때 내림차순 정렬을 원하면 인자로 reverse=True라고 입력하면 됨.
- sort 함수: 새로운 변수를 받지 않아도 리스트 자체를 변경함.

In [ ]:
sorted([3, 2, 1])

- zip 함수: 서로 다른 변수들을 묶을 때 쓰는 함수이다.

In [ ]:
chars = ['a', 'b', 'c']
nums = [1, 2, 3]
pairs = zip(chars, nums)

print(list(pairs))

# 클래스 다루기

- add 함수 정의 (두 숫자를 더한다)

In [1]:
def add(num1, num2):
    return num1 + num2

add(1, 2)

3

- Calculator 클래스 정의

In [9]:
class Calculator:
    
    def __init__(self):
        self.num1 = 0
        self.num2 = 0
        self.result = 0

    def add(self, a, b):
        self.num1 = a
        self.num2 = b
        self.result = self.num1 + self.num2    
        return self.result

In [11]:
cal2 = Calculator()
print(cal2.num1, cal2.num2, cal2.result)

0 0 0

In [12]:
cal2.add(3, 5)
print(cal2.num1, cal2.num2, cal2.result)

3 5 8

In [3]:
cal = Calculator(1, 2)
print(cal.num1, cal.num2, cal.result)

1 2 0

In [4]:
cal.add()

3

In [5]:
print(cal.num1, cal.num2, cal.result)

1 2 3

- add 메소드 활용

In [ ]:
cal.add()

- result 속성 활용

In [ ]:
cal.result

- 클래스 정의: 메소드(함수) 추가

In [ ]:
class Calculator:
    
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        self.result = 0

    def add(self):
        self.result = self.num1 + self.num2    
        return self.result

    def subtract(self):
        self.result = self.num1 - self.num2    
        return self.result

    def multiply(self):
        self.result = self.num1 * self.num2    
        return self.result

    def divide(self):
        self.result = self.num1 / self.num2    
        return self.result

    def change(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
        print("num1: ", self.num1)
        print("num2: ", self.num2)

In [ ]:
cal2 = Calculator(1, 2)
print(cal2.num1, cal2.num2)

- 메소드 활용

In [ ]:
print(cal2.add())
print(cal2.subtract())
print(cal2.multiply())
print(cal2.divide())

In [ ]:
cal2.change(3, 2)

In [ ]:
cal2.add()

## 고급 기술 (오버라이딩)

오버라이딩(overriding)은 원래 있던 클래스를 상속받아 새로운 메소드를 덮어쓰는 기능이다.

In [16]:
class Person:
    def __init__(self):
        self.name = 'Anonymous'
        
    def greeting(self):
        print('안녕하세요.')
 
class Student(Person):
    def __init__(self):
        self.name = 'Student'
        
    def greeting(self):
        #super().greeting() # 상속받은 클래스의 함수를 호출한다.
        print('저는 파이썬 코딩 도장 학생입니다.')

In [17]:
james = Person()
james.greeting()

안녕하세요.

In [18]:
james = Student()
james.greeting()

저는 파이썬 코딩 도장 학생입니다.

In [ ]:
from konlpy.tag import Kkma

class newKkma(Kkma):
    def greeting(self):
        print('사람이 인사는 하고 살아야지~!')